*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  
}
.container{
  margin:5px auto;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: black;
  
}

.navbar-nav{
  display: flex;
  color: #f2f2f2;
}

.navbar-nav li{
  list-style: none;
  padding: 10px;
}
.form-container{
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  width:50%;
  padding:10px;
}

.form-input input,
.form-input textarea {
  padding: 15px;
  border-radius: 5px;
  margin: 10px 5px;
  width: 100%;
  outline: none;
  border: 1px solid lightslategray
 
}

 button {

  padding: 5px 10px;
  border: none;
  background: #333;
  color: #f2f2f2;
  margin: 2px;
  letter-spacing: .09em;
  border-radius: 5px;
}
.card-header{
  display: block;
  text-align: center;
  padding: 50px 10px;
 background-color: #333;
  color: #fff;
  margin-top: 30px;
}