*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.navbar-nav{
  display: flex;
}

.navbar-nav li{
  list-style: none;
  padding: 10px;
}