*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: black;
  
}

.navbar-nav{
  display: flex;
  color: #fff;
}

.navbar-nav li{
  list-style: none;
  padding: 10px;
}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

}