h1{
  text-align: center;
  color: #333;
}
label{
  margin-top: 20px;
  font-size: 1.5rem;
}

Form{
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 100px auto;
}

.errorMessage{
  color: red;
  font-weight: bold;
}

Form button {
  background: cornflowerblue;
  padding: 10px;
  color:white;
  margin-top: 20px;
}